* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f4f7f8;
}

.container {
    display: flex;
}

.card {
    width: min-content;
    padding: 20px;
    margin: 0 20px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .04);
    transition: .4s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card .card-image {
    position: relative;
    width: 280px;
    height: 280px;
    padding: 0 20px;
    text-align: center;
    background: #f4f7f8;
    border-radius: 12px;
}

.card .card-image img {
    width: 100%;
    transition: .4s ease;
}

.card:hover .card-image img {
    transform: scale(1.02)
               rotate(-3deg)
               translateX(-5px);
}

.card .card-image .bx-star {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 10px;
    font-size: 20px;
    color: #f7ae04;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .04);
}

.card .card-content h3 {
    color: #222;
    font-size: 22px;
    margin-top: 20px;
}

.card .card-content p {
    color: #555;
    font-size: 18px;
    font-weight: 500;
    margin: 8px 0 22px;
    text-align: justify;
}

.card .card-content button {
    cursor: pointer;
    color: #fff;
    width: 100%;
    height: 50px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 12px;
    background: linear-gradient(
        45deg, #fabd14, #eb9616
    );
}

@media (max-width: 1280px) {
    body {
        height: unset;
        padding: 30px 0;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .container .card {
        margin: 20px;
    }
}
